<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Link shortener</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../public/js/post.js" charset="utf-8"></script>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->

  <body>
      <div style="height: 80px;">
      </div>
      <div class="row py-200 text-center">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <form onsubmit="handleSubmit(event)" method="post">
            <h5>Enter link to shorten:</h5>
            <input type="text" name="url"></input>
            <button type="submit">Create Link</button>
          </form>
          <p id="shortUrl"></p><br>
          <p id="testUrl"></p>
          <p id="comment"></p>
        </div>
        <div class="col-sm-4">
        </div>
      </div>

    </div>

    <div class="container-fluid footer-padding text-center">
        <p>Made with ❤️ by Pondreeve</p>
    </div>
    </body>
    </html>
