<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Link shortener</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="js/post.js" charset="utf-8"></script>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->

  <body>
      <div style="height: 80px;">
      </div>
      <div class="row py-200 text-center">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <form onsubmit="handleSubmit(event)" method="post">
            <h5>Enter link to shorten:</h5>
            <input id="urlInput" type="text" name="url" required></input>
            <button type="submit">Create Link</button>
          </form>
          <br>
          <p id="shortUrl"></p>
          <p id="comment"></p>
          <p id="testUrl"></p>
        </div>
        <div class="col-sm-2">
        </div>
      </div>

    </div>

    <div class="container-fluid footer-padding text-center">
        <p>Made with ❤️ by Pondreeve</p>
    </div>
    </body>
    </html>
